useDynLib(rkvstore, .registration = TRUE)

export(rkv_open_store)
export(rkv_close_store)

export(rkv_create_key)
export(rkv_create_key_from_uri)
export(rkv_get_key_uri)
export(rkv_release_key)
export(rkv_create_value)
export(rkv_get_value)
export(rkv_get_avro_value)
export(rkv_release_value)

export(rkv_put)
export(rkv_get)
export(rkv_delete)
export(rkv_multi_delete)

export(rkv_multiget_iterator)
export(rkv_store_iterator)
export(rkv_iterator_size)
export(rkv_iterator_next)
export(rkv_iterator_get_key)
export(rkv_iterator_get_value)
export(rkv_release_iterator)
export(rkv_multiget_values)

export(rkv_get_sample_for_keyspace)

export(rkv_create_avro_value)
export(rkv_avro_value_set_int)
export(rkv_avro_value_get_int)
export(rkv_avro_value_set_long)
export(rkv_avro_value_get_long)
export(rkv_avro_value_set_string)
export(rkv_avro_value_get_string)
export(rkv_avro_value_set_double)
export(rkv_avro_value_get_double)
export(rkv_avro_value_set_boolean)
export(rkv_avro_value_get_boolean)
export(rkv_avro_value_print)
export(rkv_release_avro_value)